.ls-language {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background-color: var(--tertiary-low) !important;
  }

  &.current {
    background-color: var(--tertiary-low);
  }
}

.language-switcher-footer {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
}

.language-switcher-bar {
  position: relative;
  background-color: var(--secondary);
  border: 1px solid rgba(var(--primary-rgb), 0.1);
  border-radius: 2px;
  box-shadow: shadow("dropdown");
  padding: 10px;
  display: flex;

  button.btn {
    background-color: var(--secondary);

    .d-icon {
      color: var(--primary);
    }

    &:hover,
    &.btn-hover:hover {
      background-color: var(--secondary);

      .d-icon {
        color: var(--primary);
      }
    }
  }

  .hidden-languages {
    position: absolute;
    overflow: scroll;
    max-height: 400px;
    width: 400px;
    background-color: var(--secondary);
    border: 1px solid var(--primary-low);
    box-shadow: shadow("dropdown");
    bottom: 60px;
    padding: 10px 14px;
    right: 0;

    ul {
      list-style: none;
      margin: 0;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      display: inline-block;

      li {
        margin: 5px 0;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

html.rtl {
  .language-switcher-bar {
    padding: 5px 5px 5px 0;

    a {
      &:last-of-type {
        margin-right: 15px;
      }
    }
  }
}

.language-switcher-menu {
  .panel-body-contents {
    overflow-y: scroll;
  }

  ul {
    list-style: none;
    margin: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    li {
      margin: 5px 0;
      display: inline-block;
      width: 100%;
    }
  }
}
