<td class="code">
  {{language.code}}
</td>
<td class='name'>
  {{language.name}}
</td>
<td class="content">
  {{input type="checkbox" checked=language.content}}
</td>

<!--<td class="locale">
  {{input type="checkbox" checked=language.locale}}
</td>-->