.edit-topic-title .content-languages-selector {
  width: calc(100vw - 20px);
}

.list-controls .category-breadcrumb.no-category {
  flex: initial;
  
  &> li:not(.content-language-discovery) {
    display: none;
  }
  
  .content-languages-dropdown {
    height: 35px;
    margin-bottom: 0;
  }
}

.composer-fields .content-languages-selector {
  margin-left: 0;
}

.language-switcher-bar {
  width: 100%;
  border-top: 1px solid $primary-low;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.15);
  background-color: $secondary;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  a, .btn {
    font-size: 0.9em;
  }

  .hidden-languages {
    max-width: 80vw;
    max-height: 70vh;
    margin: 0 auto;
    right: 0;
    left: 0;
  }
}