.admin-multilingual .admin-actions {
  display: flex;
  align-items: center;
  
  > span {
    margin-right: 10px;
  }
}

.admin-multilingual {
  .nav-pills {
    .right {
      margin-left: auto;
    }
    
    &> li:last-of-type > a {
      margin-right: 0;
    }
  }
  
  .query {
    display: flex;
    align-items: center;
    
    .custom-only {
      margin-left: 10px;
    }
  }
  
  .controls {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
    input {
      margin-bottom: 0;
    }
    
    .buttons {
      display: flex;
      margin-left: auto;
            
      button {
        margin-left: 10px;
      }
      
      > span {
        margin-left: 10px;
      }
    }
  }
  
  .admin-language-list {
    margin: 20px 0;
    
    th.language-control {
      text-align: center;
    }
    
    td.language-control {
      text-align: center;
      
      &.disabled {
        background-color: $primary-very-low;
        color: $primary-low;
      }
    }
    
    .actions {
      .btn {
        height: 36px;
        width: 40px;
      }
      .spinner {
        width: 7px;
        height: 7px;
      }
    }
  }
  
  .language-list-title {
    margin: 10px 8px;
    text-decoration: underline;
  }
}