@import "multilingual/content-language-tags";
@import "multilingual/content-language-select-kit";
@import "multilingual/language-switcher";
@import "multilingual/admin";

#reply-control .title-and-category {
  align-items: initial;
}

ol.category-breadcrumb li.content-language-discovery {
  margin: 0;
}

.topic-language-selector {
  margin-bottom: 9px;
  background-color: #f1f1f1;
  color: rgba(#333, 0.7);
}

.content-language-discovery {
  display: inline-block;
}
