@import "content-language-tags";
@import "content-language-select-kit";
@import "admin";

#reply-control .title-and-category {
  align-items: initial;
}

ol.category-breadcrumb li.content-language-discovery {
  margin: 0;
}

.edit-category-modal .field-item.category-name {
  > span, > label {
    display: inline-block;
  }
  
  > span {
    margin-left: 7px;
  }
  
  .d-icon {
    width: 0.9em;
    height: 0.9em; 
  }
  
  input:disabled {
    background-color: $primary-very-low;
    color: rgba($primary, 0.7);
  }
}

.topic-language-selector {
  margin-bottom: 9px;
}